.task {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 1.3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  margin: 10px;
  background-color: rgb(251, 240, 172);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  color: cornflowerblue;
  border-radius: 3px;
}

.contents{
    padding: 6px;
}

.edit_delete{
    display: flex;
}

.edit{
    color:gray;
    font-size: 1.2vw;
    padding: 6px;
}

.edit:hover{
    color:white;
    cursor: pointer;
}

.delete{
    color: red;
    font-weight: 700;
    font-size: 1.2vw;
    padding: 6px;
}

.delete:hover{
    cursor: pointer;
    color: white;
}

