.App {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TaskBoard {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 60vw;
  border-radius: 8px;
}

.above {
  display: flex;
  flex-direction: column;
  background-color: rgb(251, 241, 172);
  border-radius: 8px 9px 0 0;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.tasks {
  background-color: rgb(240, 230, 204);
  height: 100%;
  opacity: 90%;
  border-radius: 0 0 8px 8px;
  overflow: auto;
}

.title {
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 3vw;
  text-align: center;
  color: cornflowerblue;
}

.button {
  background-color: rgb(240, 230, 204);
  border-radius: 3px;
  width: 8vw;
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 1.8vw;
  color: cornflowerblue;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  border: transparent;
  margin-bottom: 5vh;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(251, 241, 272);
}

.tasks::-webkit-scrollbar {
  width: 15px; /* width of the entire scrollbar */
}

.tasks::-webkit-scrollbar-track {
  background: rgb(240, 230, 204); /* color of the tracking area */
  border-radius: 5px;
}

.tasks::-webkit-scrollbar-thumb {
  background: cornflowerblue; /* color of the scroll thumb */
}

.tasks::-webkit-scrollbar-thumb:hover {
  background: rgb(4, 75, 150);
  cursor: pointer; /* color of the scroll thumb on hover */
}

.blurred {
  filter: blur(5px);
}

