.App {
    background-image: url('../public/Background.jpg'); /* Path to your image file */
    background-size: cover; /* Cover the entire page */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vh; 
}